# MLOpsへのスコアリングリクエスト

MLOps（AI Cloud）上にデプロイされたモデルへのスコアリングリクエストの実施サンプル

MLOps 0.57.0  
Driverless AI 1.10.3.1

***

**Deployment Type**  
Artifact Type: Driverless AI MOJO Pipeline  
Runtime: H2O.ai MOJO Scorer

<img src="image/MLOps.png" width=600px>

<img src="image/sample_request.png" width=600px>

HTTPリクエストの実施

```bash
curl -X POST -H "Content-Type: application/json" -d @- https://model.cloud-internal.h2o.ai/e3570927-2ea7-44ed-8577-a776b94cdc55/model/score << EOF
{
  "fields":["LIMIT_BAL","EDUCATION","AGE","PAY_1","PAY_2","PAY_3","PAY_4","PAY_5","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"],
  "rows": [
    ["0","text","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0"]
  ]
}
EOF
```

MLOpsからの応答

```bash
{
"fields":["default_payment_next_month.0","default_payment_next_month.1"],
"id":"07572d58-f803-11ec-8760-521303400f2a",
"score":[
    ["0.7631438084823206","0.2368561915176794"]
]
}
```

## Python ([Request](https://requests-docs-ja.readthedocs.io/en/latest/#))での実施

In [130]:
import requests
import json
import pandas as pd

### Test

In [95]:
dict_data = {
  "fields":["LIMIT_BAL","EDUCATION","AGE","PAY_1","PAY_2","PAY_3","PAY_4","PAY_5","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"],
  "rows": [
    ["0","text","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0"]
  ]
}

In [98]:
response = requests.post(url="https://model.cloud-internal.h2o.ai/e3570927-2ea7-44ed-8577-a776b94cdc55/model/score", 
                         headers= {'content-type': 'application/json'}, 
                         data=json.dumps(dict_data))
response

In [105]:
response.text

'{"fields":["default_payment_next_month.0","default_payment_next_month.1"],"id":"07572d58-f803-11ec-8760-521303400f2a","score":[["0.7631438084823206","0.2368561915176794"]]}'

In [106]:
response.json()

{'fields': ['default_payment_next_month.0', 'default_payment_next_month.1'],
 'id': '07572d58-f803-11ec-8760-521303400f2a',
 'score': [['0.7631438084823206', '0.2368561915176794']]}

### Practical Ways

In [107]:
## 数値Listの文字列化

def elem_to_str(lst):
    ''' [1,2,3]  ->  ['1','2','3']
    '''
    return [str(elem) for elem in lst]

def list_to_str(lst_external):
    ''' [[1,2,3], [4,5,6]]  ->  [['1','2','3'], ['4','5','6']]
    '''
    lst_return = []
    for lst in lst_external:
        lst_return.append(elem_to_str(lst))
    return lst_return

In [108]:
## pred(y=1)をListで返す

def get_pred(res_lst):
    proba_list = []
    for lst in res_lst:
        proba_list.append(float(lst[1]))
    return proba_list

In [50]:
# APIポイント
api_point = "https://model.cloud-internal.h2o.ai/e3570927-2ea7-44ed-8577-a776b94cdc55/model/score"
# header
header = {'content-type': 'application/json'}

In [29]:
# カラム定義
columns = ["LIMIT_BAL","EDUCATION","AGE","PAY_1","PAY_2","PAY_3","PAY_4","PAY_5",
           "BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6",
           "PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"]

#### Python Listからのスコアリング

- Single row

In [124]:
data = [[0,'text',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]]

print('---------- list_to_str(data) ----------')
print(list_to_str(data))
json_data = {"fields":columns, "rows":list_to_str(data)}
print('---------- json_data ----------')
print(json_data)
print(type(json_data))

print('---------- Is fiels and data length same? ----------')
print(len(json_data['fields']) == len(json_data['rows'][0]))

print('---------- str is to be passed ----------')
print(json.dumps(json_data))
print(type(json.dumps(json_data)))

response = requests.post(url=api_point, headers=header, data=json.dumps(json_data))
response

---------- list_to_str(data) ----------
[['0', 'text', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']]
---------- json_data ----------
{'fields': ['LIMIT_BAL', 'EDUCATION', 'AGE', 'PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'], 'rows': [['0', 'text', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']]}
<class 'dict'>
---------- Is fiels and data length same? ----------
True
---------- str is to be passed ----------
{"fields": ["LIMIT_BAL", "EDUCATION", "AGE", "PAY_1", "PAY_2", "PAY_3", "PAY_4", "PAY_5", "BILL_AMT1", "BILL_AMT2", "BILL_AMT3", "BILL_AMT4", "BILL_AMT5", "BILL_AMT6", "PAY_AMT1", "PAY_AMT2", "PAY_AMT3", "PAY_AMT4", "PAY_AMT5", "PAY_AMT6"], "rows": [["0", "text", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0", "0"]]}
<class 'str'>

In [131]:
response.json()['score']

[['0.7631438084823206', '0.2368561915176794']]

In [132]:
# 予測（Prob of y=1）

get_pred(response.json()['score'])

[0.2368561915176794]

- Multiple rows

In [142]:
data = [[0,'text',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0], 
              [90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,1518,1500,1000,1000],
              [50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,2000,2019,1200,1100]]

#len(columns)
[len(l) for l in data]

[20, 20, 20]

In [143]:
json_data = {"fields":columns, "rows":list_to_str(data)}
response = requests.post(url=api_point, headers=headers, data=json.dumps(json_data))
response.json()

{'fields': ['default_payment_next_month.0', 'default_payment_next_month.1'],
 'id': '07572d58-f803-11ec-8760-521303400f2a',
 'score': [['0.7631438084823206', '0.2368561915176794'],
  ['0.5929462601066418', '0.4070537398933582'],
  ['0.8326535444116994', '0.1673464555883006']]}

In [145]:
get_pred(response.json()['score'])

[0.2368561915176794, 0.4070537398933582, 0.1673464555883006]

#### csvからのスコアリング

In [162]:
df = pd.read_csv('data/UCI_Credit_Card3_sample5.csv')
print(df.shape)
df

(5, 25)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment_next_month
0,1,20000,M,university,married,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,M,university,single,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,M,university,single,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,M,university,married,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,F,university,married,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [163]:
# データ型の変換
df_str = df.astype(str)
df_str.dtypes

ID                            object
LIMIT_BAL                     object
SEX                           object
EDUCATION                     object
MARRIAGE                      object
AGE                           object
PAY_1                         object
PAY_2                         object
PAY_3                         object
PAY_4                         object
PAY_5                         object
PAY_6                         object
BILL_AMT1                     object
BILL_AMT2                     object
BILL_AMT3                     object
BILL_AMT4                     object
BILL_AMT5                     object
BILL_AMT6                     object
PAY_AMT1                      object
PAY_AMT2                      object
PAY_AMT3                      object
PAY_AMT4                      object
PAY_AMT5                      object
PAY_AMT6                      object
default_payment_next_month    object
dtype: object

In [164]:
# pandas.DataFrameから、jsonに変換
json_data = df_str.to_json(orient="split")
json_data = json.loads(json_data)
json_data

{'columns': ['ID',
  'LIMIT_BAL',
  'SEX',
  'EDUCATION',
  'MARRIAGE',
  'AGE',
  'PAY_1',
  'PAY_2',
  'PAY_3',
  'PAY_4',
  'PAY_5',
  'PAY_6',
  'BILL_AMT1',
  'BILL_AMT2',
  'BILL_AMT3',
  'BILL_AMT4',
  'BILL_AMT5',
  'BILL_AMT6',
  'PAY_AMT1',
  'PAY_AMT2',
  'PAY_AMT3',
  'PAY_AMT4',
  'PAY_AMT5',
  'PAY_AMT6',
  'default_payment_next_month'],
 'index': [0, 1, 2, 3, 4],
 'data': [['1',
   '20000',
   'M',
   'university',
   'married',
   '24',
   '2',
   '2',
   '-1',
   '-1',
   '-2',
   '-2',
   '3913',
   '3102',
   '689',
   '0',
   '0',
   '0',
   '0',
   '689',
   '0',
   '0',
   '0',
   '0',
   '1'],
  ['2',
   '120000',
   'M',
   'university',
   'single',
   '26',
   '-1',
   '2',
   '0',
   '0',
   '0',
   '2',
   '2682',
   '1725',
   '2682',
   '3272',
   '3455',
   '3261',
   '0',
   '1000',
   '1000',
   '1000',
   '0',
   '2000',
   '1'],
  ['3',
   '90000',
   'M',
   'university',
   'single',
   '34',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '29239',
   '14027',
   '13559',
   '14331',
   '14948',
   '15549',
   '1518',
   '1500',
   '1000',
   '1000',
   '1000',
   '5000',
   '0'],
  ['4',
   '50000',
   'M',
   'university',
   'married',
   '37',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '46990',
   '48233',
   '49291',
   '28314',
   '28959',
   '29547',
   '2000',
   '2019',
   '1200',
   '1100',
   '1069',
   '1000',
   '0'],
  ['5',
   '50000',
   'F',
   'university',
   'married',
   '57',
   '-1',
   '0',
   '-1',
   '0',
   '0',
   '0',
   '8617',
   '5670',
   '35835',
   '20940',
   '19146',
   '19131',
   '2000',
   '36681',
   '10000',
   '9000',
   '689',
   '679',
   '0']]}

In [165]:
# キー名の変更
json_data['fields'] = json_data['columns']
del json_data['columns']
json_data['rows'] = json_data['data']
del json_data['data']

In [166]:
response = requests.post(url=api_point, headers=headers, data=json.dumps(json_data))
response.json()

{'fields': ['default_payment_next_month.0', 'default_payment_next_month.1'],
 'id': '07572d58-f803-11ec-8760-521303400f2a',
 'score': [['0.32603885991953396', '0.673961140080466'],
  ['0.6070617232683116', '0.39293827673168835'],
  ['0.8847794265374691', '0.11522057346253092'],
  ['0.8170901580458239', '0.18290984195417614'],
  ['0.9008979918780958', '0.09910200812190419']]}

In [167]:
get_pred(response.json()['score'])

[0.673961140080466,
 0.39293827673168835,
 0.11522057346253092,
 0.18290984195417614,
 0.09910200812190419]

### Passphraseを指定した場合
デプロイの際のEndpoint Security Levelを、"Passphrase (scored as plain text)"もしくは"Passphrase (stored hashed)"を選択

<img src="image/sample_request_pass.png" width=600px>

```bash
curl -X POST -H "Content-Type: application/json" -H "Authorization: Bearer palisidoromutobutupa" -d @- https://model.cloud-internal.h2o.ai/b874d21d-aa81-4d84-9002-ce65296419df/model/score << EOF
{
  "fields": ["LIMIT_BAL","EDUCATION","AGE","PAY_1","PAY_2","PAY_3","PAY_4","PAY_5","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"
  ],
  "rows": [["0","text","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0"]
  ]
}
EOF
```

In [169]:
# APIポイント
api_point = "https://model.cloud-internal.h2o.ai/b874d21d-aa81-4d84-9002-ce65296419df/model/score"
# header
my_password = 'palisidoromutobutupa'
headers = {'Content-Type': 'application/json', 'Authorization': 'Bearer '+my_password}

In [174]:
data = [[0,'text',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]]
json_data = {"fields":columns, "rows":list_to_str(data)}
response = requests.post(url=api_point, headers=headers, data=json.dumps(json_data))
response.json()

{'fields': ['default_payment_next_month.0', 'default_payment_next_month.1'],
 'id': '07572d58-f803-11ec-8760-521303400f2a',
 'score': [['0.7631438084823206', '0.2368561915176794']]}