## Shaplyスコアリング

MLOps Model Deployments (Driverless AI Model - MOJO)
- Artifact Type: DAI MOJO Pipeline
- Runtime: DAI MOJO Scorer (Shapley original only)

<img src="image/MLOps_Shaply.png" width=600px>

HTTPリクエストの実施  
"requestShapleyValueType": "ORIGINAL"をリクエストデータに追加

Document: https://docs.h2o.ai/mlops/model-scoring/shapley-values-support

```bash
curl -X POST -H "Content-Type: application/json" -d @- https://model.internal.dedicated.h2o.ai/30cbdf4e-be01-40f7-88ba-8ea05557073a/model/score << EOF
 {
   "fields": [
   "EDUCATION","MARRIAGE","AGE","PAY_1","PAY_2","PAY_3","PAY_4","PAY_5","PAY_6","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"
   ],
   "rows": [
      [
         "text","text","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0"
      ]
   ], 
   "requestShapleyValueType": "ORIGINAL"
} 
EOF
```

MLOpsからの応答

```bash
{
    "id":"dfb0ac84-4634-11ef-b0ad-127940c2494e",
    "fields":["default_payment_next_month.0","default_payment_next_month.1"],
    "score":[["0.6999526659713154","0.30004733402868455"]],
    "featureShapleyContributions":{"features":["contrib_EDUCATION","contrib_MARRIAGE","contrib_AGE","contrib_PAY_1","contrib_PAY_2","contrib_PAY_3","contrib_PAY_4","contrib_PAY_5","contrib_PAY_6","contrib_BILL_AMT1","contrib_BILL_AMT2","contrib_BILL_AMT3","contrib_BILL_AMT4","contrib_BILL_AMT5","contrib_BILL_AMT6","contrib_PAY_AMT1","contrib_PAY_AMT2","contrib_PAY_AMT3","contrib_PAY_AMT4","contrib_PAY_AMT5","contrib_PAY_AMT6","contrib_bias"],
    "contributionGroups":[
            {"contributions":[["0.018954395175485188","0.02064209376526759","0.01739020325138992","-0.09536292450482012","-0.011726511778063973","0.034657258684815145","0.028547428357985582","0.004374551135780689","-0.03227419095513172","0.10147395234465731","-0.11532813084830755","-0.0799173529898052","-0.03746330075203831","0.0064375793850206305","-0.04033921631545275","0.13440659277986233","0.13308447886276945","0.12261666806500486","0.09766839374193757","0.08133276094386327","0.09352165490099","-1.329768897488515"]]
        }
    ]
}
```

### Python ([Request](https://requests-docs-ja.readthedocs.io/en/latest/#))での実施

In [42]:
import requests
import json
import pandas as pd
import numpy as np

In [11]:
dict_data = {
  "fields":["EDUCATION","MARRIAGE","AGE","PAY_1","PAY_2","PAY_3","PAY_4","PAY_5","PAY_6","BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6","PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"],
  "rows": [
    ["text","text","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0","0"]
  ],
    "requestShapleyValueType":"ORIGINAL",
}

In [12]:
response = requests.post(url="https://model.internal.dedicated.h2o.ai/30cbdf4e-be01-40f7-88ba-8ea05557073a/model/score", 
                         headers= {'content-type': 'application/json'}, 
                         data=json.dumps(dict_data))
response

In [13]:
response.text

'{"id":"dfb0ac84-4634-11ef-b0ad-127940c2494e","fields":["default_payment_next_month.0","default_payment_next_month.1"],"score":[["0.6999526659713154","0.30004733402868455"]],"featureShapleyContributions":{"features":["contrib_EDUCATION","contrib_MARRIAGE","contrib_AGE","contrib_PAY_1","contrib_PAY_2","contrib_PAY_3","contrib_PAY_4","contrib_PAY_5","contrib_PAY_6","contrib_BILL_AMT1","contrib_BILL_AMT2","contrib_BILL_AMT3","contrib_BILL_AMT4","contrib_BILL_AMT5","contrib_BILL_AMT6","contrib_PAY_AMT1","contrib_PAY_AMT2","contrib_PAY_AMT3","contrib_PAY_AMT4","contrib_PAY_AMT5","contrib_PAY_AMT6","contrib_bias"],"contributionGroups":[{"contributions":[["0.018954395175485188","0.02064209376526759","0.01739020325138992","-0.09536292450482012","-0.011726511778063973","0.034657258684815145","0.028547428357985582","0.004374551135780689","-0.03227419095513172","0.10147395234465731","-0.11532813084830755","-0.0799173529898052","-0.03746330075203831","0.0064375793850206305","-0.04033921631545275","0.13440659277986233","0.13308447886276945","0.12261666806500486","0.09766839374193757","0.08133276094386327","0.09352165490099","-1.329768897488515"]]}]}}'

In [20]:
results = response.json()
results

{'id': 'dfb0ac84-4634-11ef-b0ad-127940c2494e',
 'fields': ['default_payment_next_month.0', 'default_payment_next_month.1'],
 'score': [['0.6999526659713154', '0.30004733402868455']],
 'featureShapleyContributions': {'features': ['contrib_EDUCATION',
   'contrib_MARRIAGE',
   'contrib_AGE',
   'contrib_PAY_1',
   'contrib_PAY_2',
   'contrib_PAY_3',
   'contrib_PAY_4',
   'contrib_PAY_5',
   'contrib_PAY_6',
   'contrib_BILL_AMT1',
   'contrib_BILL_AMT2',
   'contrib_BILL_AMT3',
   'contrib_BILL_AMT4',
   'contrib_BILL_AMT5',
   'contrib_BILL_AMT6',
   'contrib_PAY_AMT1',
   'contrib_PAY_AMT2',
   'contrib_PAY_AMT3',
   'contrib_PAY_AMT4',
   'contrib_PAY_AMT5',
   'contrib_PAY_AMT6',
   'contrib_bias'],
  'contributionGroups': [{'contributions': [['0.018954395175485188',
      '0.02064209376526759',
      '0.01739020325138992',
      '-0.09536292450482012',
      '-0.011726511778063973',
      '0.034657258684815145',
      '0.028547428357985582',
      '0.004374551135780689',
      '-0.03227419095513172',
      '0.10147395234465731',
      '-0.11532813084830755',
      '-0.0799173529898052',
      '-0.03746330075203831',
      '0.0064375793850206305',
      '-0.04033921631545275',
      '0.13440659277986233',
      '0.13308447886276945',
      '0.12261666806500486',
      '0.09766839374193757',
      '0.08133276094386327',
      '0.09352165490099',
      '-1.329768897488515']]}]}}

In [21]:
results.keys()

dict_keys(['id', 'fields', 'score', 'featureShapleyContributions'])

In [27]:
results['fields'][1], results['score'][0][1]

('default_payment_next_month.1', '0.30004733402868455')

In [29]:
results['featureShapleyContributions'].keys()

dict_keys(['features', 'contributionGroups'])

In [30]:
results['featureShapleyContributions']['features']

['contrib_EDUCATION',
 'contrib_MARRIAGE',
 'contrib_AGE',
 'contrib_PAY_1',
 'contrib_PAY_2',
 'contrib_PAY_3',
 'contrib_PAY_4',
 'contrib_PAY_5',
 'contrib_PAY_6',
 'contrib_BILL_AMT1',
 'contrib_BILL_AMT2',
 'contrib_BILL_AMT3',
 'contrib_BILL_AMT4',
 'contrib_BILL_AMT5',
 'contrib_BILL_AMT6',
 'contrib_PAY_AMT1',
 'contrib_PAY_AMT2',
 'contrib_PAY_AMT3',
 'contrib_PAY_AMT4',
 'contrib_PAY_AMT5',
 'contrib_PAY_AMT6',
 'contrib_bias']

In [35]:
results['featureShapleyContributions']['contributionGroups'][0]['contributions']

[['0.018954395175485188',
  '0.02064209376526759',
  '0.01739020325138992',
  '-0.09536292450482012',
  '-0.011726511778063973',
  '0.034657258684815145',
  '0.028547428357985582',
  '0.004374551135780689',
  '-0.03227419095513172',
  '0.10147395234465731',
  '-0.11532813084830755',
  '-0.0799173529898052',
  '-0.03746330075203831',
  '0.0064375793850206305',
  '-0.04033921631545275',
  '0.13440659277986233',
  '0.13308447886276945',
  '0.12261666806500486',
  '0.09766839374193757',
  '0.08133276094386327',
  '0.09352165490099',
  '-1.329768897488515']]

In [39]:
df_contrib = pd.DataFrame({
    'features':results['featureShapleyContributions']['features'],
    'contributions':results['featureShapleyContributions']['contributionGroups'][0]['contributions'][0],
})
df_contrib

             features          contributions
0   contrib_EDUCATION   0.018954395175485188
1    contrib_MARRIAGE    0.02064209376526759
2         contrib_AGE    0.01739020325138992
3       contrib_PAY_1   -0.09536292450482012
4       contrib_PAY_2  -0.011726511778063973
5       contrib_PAY_3   0.034657258684815145
6       contrib_PAY_4   0.028547428357985582
7       contrib_PAY_5   0.004374551135780689
8       contrib_PAY_6   -0.03227419095513172
9   contrib_BILL_AMT1    0.10147395234465731
10  contrib_BILL_AMT2   -0.11532813084830755
11  contrib_BILL_AMT3    -0.0799173529898052
12  contrib_BILL_AMT4   -0.03746330075203831
13  contrib_BILL_AMT5  0.0064375793850206305
14  contrib_BILL_AMT6   -0.04033921631545275
15   contrib_PAY_AMT1    0.13440659277986233
16   contrib_PAY_AMT2    0.13308447886276945
17   contrib_PAY_AMT3    0.12261666806500486
18   contrib_PAY_AMT4    0.09766839374193757
19   contrib_PAY_AMT5    0.08133276094386327
20   contrib_PAY_AMT6       0.09352165490099
21       contrib_bias     -1.329768897488515

In [40]:
df_contrib.dtypes

features         object
contributions    object
dtype: object

In [44]:
df_contrib['contributions'] = df_contrib['contributions'].astype(np.float64)

In [45]:
df_contrib.dtypes

features          object
contributions    float64
dtype: object

In [51]:
df_contrib['features'] = [s.replace('contrib_', '') for s in df_contrib['features']]

In [52]:
df_contrib

     features  contributions
0   EDUCATION       0.018954
1    MARRIAGE       0.020642
2         AGE       0.017390
3       PAY_1      -0.095363
4       PAY_2      -0.011727
5       PAY_3       0.034657
6       PAY_4       0.028547
7       PAY_5       0.004375
8       PAY_6      -0.032274
9   BILL_AMT1       0.101474
10  BILL_AMT2      -0.115328
11  BILL_AMT3      -0.079917
12  BILL_AMT4      -0.037463
13  BILL_AMT5       0.006438
14  BILL_AMT6      -0.040339
15   PAY_AMT1       0.134407
16   PAY_AMT2       0.133084
17   PAY_AMT3       0.122617
18   PAY_AMT4       0.097668
19   PAY_AMT5       0.081333
20   PAY_AMT6       0.093522
21       bias      -1.329769

#### from CSV(Pandas)

In [17]:
df = pd.read_csv('data/UCI_Credit_Card3_sample5.csv')
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment_next_month
0,1,20000,M,university,married,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,M,university,single,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,M,university,single,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,M,university,married,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,F,university,married,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [54]:
df.dtypes

ID                             int64
LIMIT_BAL                      int64
SEX                           object
EDUCATION                     object
MARRIAGE                      object
AGE                            int64
PAY_1                          int64
PAY_2                          int64
PAY_3                          int64
PAY_4                          int64
PAY_5                          int64
PAY_6                          int64
BILL_AMT1                      int64
BILL_AMT2                      int64
BILL_AMT3                      int64
BILL_AMT4                      int64
BILL_AMT5                      int64
BILL_AMT6                      int64
PAY_AMT1                       int64
PAY_AMT2                       int64
PAY_AMT3                       int64
PAY_AMT4                       int64
PAY_AMT5                       int64
PAY_AMT6                       int64
default_payment_next_month     int64
dtype: object

In [56]:
# データ型の変換
df_str = df.astype(str)

In [57]:
# pandas.DataFrameから、jsonに変換
json_data = df_str.to_json(orient="split")
json_data = json.loads(json_data)
json_data

{'columns': ['ID',
  'LIMIT_BAL',
  'SEX',
  'EDUCATION',
  'MARRIAGE',
  'AGE',
  'PAY_1',
  'PAY_2',
  'PAY_3',
  'PAY_4',
  'PAY_5',
  'PAY_6',
  'BILL_AMT1',
  'BILL_AMT2',
  'BILL_AMT3',
  'BILL_AMT4',
  'BILL_AMT5',
  'BILL_AMT6',
  'PAY_AMT1',
  'PAY_AMT2',
  'PAY_AMT3',
  'PAY_AMT4',
  'PAY_AMT5',
  'PAY_AMT6',
  'default_payment_next_month'],
 'index': [0, 1, 2, 3, 4],
 'data': [['1',
   '20000',
   'M',
   'university',
   'married',
   '24',
   '2',
   '2',
   '-1',
   '-1',
   '-2',
   '-2',
   '3913',
   '3102',
   '689',
   '0',
   '0',
   '0',
   '0',
   '689',
   '0',
   '0',
   '0',
   '0',
   '1'],
  ['2',
   '120000',
   'M',
   'university',
   'single',
   '26',
   '-1',
   '2',
   '0',
   '0',
   '0',
   '2',
   '2682',
   '1725',
   '2682',
   '3272',
   '3455',
   '3261',
   '0',
   '1000',
   '1000',
   '1000',
   '0',
   '2000',
   '1'],
  ['3',
   '90000',
   'M',
   'university',
   'single',
   '34',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '29239',
   '14027',
   '13559',
   '14331',
   '14948',
   '15549',
   '1518',
   '1500',
   '1000',
   '1000',
   '1000',
   '5000',
   '0'],
  ['4',
   '50000',
   'M',
   'university',
   'married',
   '37',
   '0',
   '0',
   '0',
   '0',
   '0',
   '0',
   '46990',
   '48233',
   '49291',
   '28314',
   '28959',
   '29547',
   '2000',
   '2019',
   '1200',
   '1100',
   '1069',
   '1000',
   '0'],
  ['5',
   '50000',
   'F',
   'university',
   'married',
   '57',
   '-1',
   '0',
   '-1',
   '0',
   '0',
   '0',
   '8617',
   '5670',
   '35835',
   '20940',
   '19146',
   '19131',
   '2000',
   '36681',
   '10000',
   '9000',
   '689',
   '679',
   '0']]}

In [59]:
json_data.keys()

dict_keys(['columns', 'index', 'data'])

In [60]:
# キー名の変更
json_data['fields'] = json_data['columns']
del json_data['columns']
json_data['rows'] = json_data['data']
del json_data['data']

In [65]:
# Shapley Scoring指示の追加
json_data['requestShapleyValueType'] = 'ORIGINAL'

In [67]:
json_data.keys()

dict_keys(['index', 'fields', 'rows', 'requestShapleyValueType'])

In [68]:
response = requests.post(url='https://model.internal.dedicated.h2o.ai/30cbdf4e-be01-40f7-88ba-8ea05557073a/model/score', 
                         headers={'content-type': 'application/json'}, 
                         data=json.dumps(json_data))
response.json()

{'id': 'dfb0ac84-4634-11ef-b0ad-127940c2494e',
 'fields': ['default_payment_next_month.0', 'default_payment_next_month.1'],
 'score': [['0.3025260726918264', '0.6974739273081736'],
  ['0.5915855520636213', '0.40841444793637877'],
  ['0.8672090651155677', '0.13279093488443225'],
  ['0.8746903236209524', '0.1253096763790475'],
  ['0.9050907569177213', '0.0949092430822786']],
 'featureShapleyContributions': {'features': ['contrib_EDUCATION',
   'contrib_MARRIAGE',
   'contrib_AGE',
   'contrib_PAY_1',
   'contrib_PAY_2',
   'contrib_PAY_3',
   'contrib_PAY_4',
   'contrib_PAY_5',
   'contrib_PAY_6',
   'contrib_BILL_AMT1',
   'contrib_BILL_AMT2',
   'contrib_BILL_AMT3',
   'contrib_BILL_AMT4',
   'contrib_BILL_AMT5',
   'contrib_BILL_AMT6',
   'contrib_PAY_AMT1',
   'contrib_PAY_AMT2',
   'contrib_PAY_AMT3',
   'contrib_PAY_AMT4',
   'contrib_PAY_AMT5',
   'contrib_PAY_AMT6',
   'contrib_bias'],
  'contributionGroups': [{'contributions': [['0.09608278421794794',
      '0.08722179091945213',
      '0.08019485374478191',
      '0.7941067757609828',
      '0.32308532910163207',
      '0.0029355651159281796',
      '0.05930211954508167',
      '0.03922309609769843',
      '-0.010183286886687624',
      '0.04582549679368083',
      '0.2699431406904825',
      '-0.057620631314786286',
      '-0.043050750655787576',
      '-0.00981302844418036',
      '-0.05372172840990822',
      '0.12780155019486247',
      '0.061599804810481704',
      '0.1138560096080416',
      '0.0753975860796439',
      '0.0761103164550302',
      '0.086769788489367',
      '-1.329768897488515'],
     ['0.00959191990644347',
      '0.001065086970522407',
      '0.07191007621258054',
      '0.03976831840878302',
      '0.35940461911145727',
      '0.10146464870464282',
      '0.0029853373586711993',
      '-0.008171463055885017',
      '0.09741382692487617',
      '0.052531180148647015',
      '-0.05183723410363375',
      '0.025386479905087925',
      '-0.013555102252621904',
      '-0.0093492416481852',
      '-0.017435662290945418',
      '0.16072763430860315',
      '0.0878024950363189',
      '-0.014085973164941125',
      '0.01320614015835437',
      '0.08405731703178232',
      '-0.03363536610356233',
      '-1.329768897488515'],
     ['-0.005476061194331211',
      '-0.01875789874721156',
      '-0.052780507397296665',
      '-0.21709750264205988',
      '-0.09206516990678743',
      '-0.04123869567846932',
      '-0.024951139689775945',
      '-0.033781361687779454',
      '-0.02162061099645829',
      '-0.09606846301053151',
      '-0.04833201837814355',
      '0.013003353663680035',
      '7.698741016337661E-4',
      '-0.006796577805113689',
      '0.026077844659072313',
      '0.06432593164746059',
      '0.11536962722793509',
      '-0.005297302915339613',
      '0.010822429052643289',
      '-0.01950548799798654',
      '-0.09333589025240757',
      '-1.329768897488515'],
     ['-0.012216941644484511',
      '-0.02420120373405221',
      '-0.03557079363306899',
      '-0.21354622933550899',
      '-0.09193870533441464',
      '-0.03596160789325325',
      '-0.036510819726090514',
      '-0.04584184165446576',
      '-0.02113215638356383',
      '-0.06011312153748375',
      '-0.054094074894605826',
      '0.022242228691115657',
      '0.007974646977107007',
      '-0.00691271072241427',
      '0.017592499198007094',
      '0.024150293392563457',
      '-0.016325163890536232',
      '-0.0024666560826691036',
      '8.622770640479569E-4',
      '-0.022870482024479784',
      '-0.00643285900280165',
      '-1.329768897488515'],
     ['-0.0022289854510438864',
      '-0.011949194584864762',
      '0.04372757318493249',
      '-0.05183964210716026',
      '-0.005278034932741976',
      '-0.04700839453112818',
      '-0.016726296217173996',
      '-0.03574391469465444',
      '-0.025076525976080725',
      '-0.01517574387532116',
      '-0.06646734785827015',
      '0.013234227872236142',
      '-0.011773080056896474',
      '-0.014823662220033167',
      '-0.0010485053097973643',
      '0.03480376954266578',
      '-0.5030782419557308',
      '-0.20821449678845397',
      '-0.10873477895832077',
      '0.04020558815246366',
      '0.06785031712372178',
      '-1.329768897488515']]}]}}

In [72]:
response.json().keys()

dict_keys(['id', 'fields', 'score', 'featureShapleyContributions'])